{#######################################################}
{#                                                     #}
{#   Cookie Consent Neo - Atom for Gantry              #}
{#                                                     #}
{#   Purpose: This project adds the Cookie Consent     #}
{#            Javascript API functionality to the      #}
{#            Gantry templating framework.             #}
{#                                                     #}
{#   Author: Andreas Kar (thex) <andreas.kar@gmx.at>   #}
{#                                                     #}
{#######################################################}

{% extends '@nucleus/partials/particle.html.twig' %}

{% set bannerMsg = particle.banner.message|default('This website uses cookies to ensure you get the best experience on our website.') %}
{% set bannerStatic = false %}

{% if particle.banner.compliance != 'info' and particle.banner.compliance is not empty %}
    {% set compType = particle.banner.compliance %}
    {% set optText = particle.banner.opt.text %}
{% else %}
    {% set compType = '' %}
    {% set optText = '' %}
{% endif %}

{% if particle.banner.position == 'bottom' %}
    {% set bannerPos = 'bottom' %}
{% elseif particle.banner.position == 'top' %}
    {% set bannerPos = 'top' %}
{% elseif particle.banner.position == 'float_bl' %}
    {% set bannerPos = 'bottom-left' %}
{% elseif particle.banner.position == 'float_br' %}
    {% set bannerPos = 'bottom-right' %}
{% elseif particle.banner.position == 'float_tl' %}
    {% set bannerPos = 'top-left' %}
{% elseif particle.banner.position == 'float_tr' %}
    {% set bannerPos = 'top-right' %}
{% else %}
    {% set bannerPos = '' %}
{% endif %}

{% if particle.banner.position == 'top_p'%}
    {% set bannerStatic = true %}
{% endif %}

{% if particle.banner.layout == 'block' or particle.banner.layout == 'wire' %}
    {% set bannerLayout = '' %}
{% elseif particle.banner.layout == 'classic' %}
    {% set bannerLayout = 'classic' %}
{% elseif particle.banner.layout == 'edgeless' %}
    {% set bannerLayout = 'edgeless' %}
{% elseif particle.banner.layout == 'wire' %}
    {% set bannerLayout = '' %}
{% endif %}

{% set popupText = '' %}
{% set btnText = '' %}
{% set popupLink = '' %}

{% if not particle.banner.custom_color.enable %}
    {% if particle.banner.palette == 'p1' %}
        {% set popupBg = '#000' %}
        {% set btnBg = '#f1d600' %}
    {% elseif particle.banner.palette == 'p2' %}
        {% set popupBg = '#eaf7f7' %}
        {% set popupText = '#5c7291' %}
        {% set btnBg = '#56cbdb' %}
        {% set btnText = '#ffffff' %}
    {% elseif particle.banner.palette == 'p3' %}
        {% set popupBg = '#252e39' %}
        {% set btnBg = '#14a7d0' %}
    {% elseif particle.banner.palette == 'p4' %}
        {% set popupBg = '#000' %}
        {% set popupText = '#0f0' %}
        {% set btnBg = '#0f0' %}
    {% elseif particle.banner.palette == 'p5' %}
        {% set popupBg = '#3937a3' %}
        {% set btnBg = '#e62576' %}
    {% elseif particle.banner.palette == 'p6' %}
        {% set popupBg = '#64386b' %}
        {% set popupText = '#ffcdfd' %}
        {% set btnBg = '#f8a8ff' %}
        {% set btnText = '#3f0045' %}
    {% elseif particle.banner.palette == 'p7' %}
        {% set popupBg = '#237afc' %}
        {% set btnBg = '#fff' %}
        {% set btnText = '#237afc' %}
    {% elseif particle.banner.palette == 'p8' %}
        {% set popupBg = '#aa0000' %}
        {% set popupText = '#ffdddd' %}
        {% set btnBg = '#ff0000' %}
    {% elseif particle.banner.palette == 'p9' %}
        {% set popupBg = '#383b75' %}
        {% set btnBg = '#f1d600' %}
    {% elseif particle.banner.palette == 'p10' %}
        {% set popupBg = '#1d8a8a' %}
        {% set btnBg = '#62ffaa' %}
    {% elseif particle.banner.palette == 'p11' %}
        {% set popupBg = '#edeff5' %}
        {% set popupText = '#838391' %}
        {% set btnBg = '#4b81e8' %}
    {% elseif particle.banner.palette == 'p12' %}
        {% set popupBg = '#343c66' %}
        {% set popupText = '#cfcfe8' %}
        {% set btnBg = '#f71559' %}
    {% elseif particle.banner.palette == 'p13' %}
        {% set popupBg = '#216942' %}
        {% set popupText = '#b2d192' %}
        {% set btnBg = '#afed71' %}
    {% elseif particle.banner.palette == 'p14' %}
        {% set popupBg = '#3c404d' %}
        {% set popupText = '#d6d6d6' %}
        {% set btnBg = '#8bed4f' %}
    {% elseif particle.banner.palette == 'p15' %}
        {% set popupBg = '#eb6c44' %}
        {% set popupText = '#ffffff' %}
        {% set btnBg = '#f5d948' %}
    {% elseif particle.banner.palette == 'p16' %}
        {% set popupBg = '#efefef' %}
        {% set popupText = '#404040' %}
        {% set btnBg = '#8ec760' %}
        {% set btnText = '#ffffff' %}
    {% else %}
        {% set popupBg = '#000' %}
        {% set btnBg = '#f1d600' %}
    {% endif %}
{% else %}
    {% if particle.banner.popup.bg is not empty %}
        {% set popupBg = particle.banner.popup.bg %}
    {% else %}
        {% set popupBg = '#000' %}
    {% endif %}
    {% if particle.banner.button.bg is not empty %}
        {% set btnBg = particle.banner.button.bg %}
    {% else %}
        {% set btnBg = '#f1d600' %}    
    {% endif %}
    {% if particle.banner.popup.text is not empty %}
        {% set popupText = particle.banner.popup.text %}
    {% endif %}
    {% if particle.banner.button.text is not empty %}
        {% set btnText = particle.banner.button.text %}
    {% endif %}
    {% if particle.banner.popup.link is not empty %}
        {% set popupLink = particle.banner.popup.link %}
    {% endif %}
{% endif %}

{% set linkText = particle.banner.learn_more.text|default('Read more') %}
{% set linkTitle = particle.banner.learn_more.title|default('Learn more about cookies') %}
{% set linkTarget = particle.banner.learn_more.target|default('_blank') %}
{% set linkHref = particle.banner.learn_more.link|default('https://cookiesandyou.com') %}
{% set dismissText = particle.banner.dismiss.text|default('Got it!') %}
{% set apiVersion = particle.api.version|default("3.0.4") %}

{% set scriptType = 'text/javascript' %}
{% set styleType = 'text/css' %}

{% set jsPlace = particle.js.placement|default('head') %}
{% set jsPrior = particle.js.priority|default(0) %}
{% set cssPrior = particle.css.priority|default(0) %}

{% set jsExec = '' %}
{% if particle.js.execution == 'defer' or particle.js.execution == 'both' %}
    {% set jsExec = 'defer="defer"' %}
{% endif %}

{% if particle.js.execution == 'both' %}
    {% set jsExec = jsExec ~ ' ' %}
{% endif %}

{% if particle.js.execution == 'async' or particle.js.execution == 'both' %}
    {% set jsExec = jsExec ~ 'async="async"' %}
{% endif %}

{% if jsExec is not empty %}
    {% set jsExec = ' ' ~ jsExec %}
{% endif %}

{% if particle.js.option == 'local' and particle.js.path is not empty %}
    {% set hPath = particle.js.path %}
    {% if hPath is not empty and hPath|slice(0, 1)|lower == '/' %}
        {% set hPath = hPath|slice(1, (hPath|length - 1)) %}
    {% endif %}
    {% set jsPath = 'gantry-theme://' ~ hPath %}
{% elseif particle.js.option == 'remote' and particle.js.path is not empty %}
    {% set jsPath = particle.js.path %}
{% else %}
    {% set jsPath = 'http://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/' ~ apiVersion ~ '/cookieconsent.min.js' %}
{% endif %}

{% if particle.css.option == 'local' and particle.css.path is not empty %}
    {% set hPath = particle.css.path %}
    {% if hPath is not empty and hPath|slice(0, 1)|lower == '/' %}
        {% set hPath = hPath|slice(1, (hPath|length - 1)) %}
    {% endif %}
    {% set cssPath = 'gantry-theme://' ~ hPath %}
{% elseif particle.css.option == 'remote' and particle.css.path is not empty %}
    {% set cssPath = particle.css.path %}
{% else %}
    {% set cssPath = 'http://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/' ~ apiVersion ~ '/cookieconsent.min.css' %}
{% endif %}

{%- block particle -%}
    {%- styles with { priority: cssPrior } -%}
        <link rel="stylesheet" type="{{styleType}}" href="{{url(cssPath)}}" />
    {%- endstyles -%}

    {%- scripts in jsPlace with { priority: jsPrior } -%}
        <script type="{{scriptType}}" src="{{url(jsPath)}}"{{jsExec}}></script>
        <script>
            window.addEventListener("load", function(){
                window.cookieconsent.initialise({
                    palette: {
                        popup: {
                            background: "{{popupBg|e('js')}}",
                            {%- if popupText is not empty -%}
                                text: "{{popupText|e('js')}}",
                            {%- endif -%}

                            {%- if popupLink is not empty -%}
                                link: "{{popupLink|e('js')}}"
                            {%- endif -%}
                        },
                        button: {
                            {%- if particle.banner.layout == 'wire' -%}
                                background: "transparent",
                                text: "{{btnBg|e('js')}}",
                                border: "{{btnBg|e('js')}}",
                            {%- else -%}
                                background: "{{btnBg|e('js')}}",
                                {%- if popupText is not empty -%}
                                    text: "{{btnText|e('js')}}"
                                {%- endif -%}
                            {%- endif -%}
                        }
                    },

                    {%- if not particle.banner.learn_more.enabled -%}
                        showLink: false,
                    {%- endif -%}

                    {%- if bannerPos is not empty -%}
                        position: "{{bannerPos|e('js')}}",
                    {%- endif -%}

                    {%- if bannerLayout is not empty -%}
                        theme: "{{bannerLayout|e('js')}}",
                    {%- endif -%}

                    {%- if bannerStatic == true -%}
                        static: true,
                    {%- endif -%}

                    {%- if particle.banner.auto_open == 0 -%}
                        autoOpen: false,
                    {%- endif -%}

                    {%- if particle.banner.revokable.enabled -%}
                        revokable: true,
                    {%- endif -%}

                    {%- if particle.banner.revokable.animate == 0 -%}
                        animateRevokable: false,
                    {%- endif -%}

                    {%- if particle.banner.revoke.text is not empty -%}
                        {%- set revokeText = '<div class="cc-revoke {{classes}}">' ~ particle.banner.revoke.text ~ '</div>' -%}
                        revokeBtn: "{{revokeText|e('js')}}",
                    {%- endif -%}

                    {%- if particle.cookie.name is not empty or particle.cookie.path is not empty or particle.cookie.domain is not empty or particle.cookie.expiry is not empty -%}  
                        cookie: {
                            {%- if particle.cookie.name is not empty -%}
                                name: "{{particle.cookie.name|e('js')}}",
                            {%- endif -%}
                            {%- if particle.cookie.path is not empty -%}
                                path: "{{particle.cookie.path|e('js')}}",
                            {%- endif -%}
                            {%- if particle.cookie.domain is not empty -%}
                                domain: "{{particle.cookie.domain|e('js')}}",
                            {%- endif -%}
                            {%- if particle.cookie.expiry is not empty -%}
                                expiryDays: {{particle.cookie.expiry}}
                            {%- endif -%}
                        },
                    {%- endif -%}

                    {%- if particle.service.location == 'on' -%}
                        location: true,
                    {%- elseif particle.service.location == 'custom' -%}
                        {%- if particle.service.timeout is not empty or particle.service.endpoints|length > 0 -%}
                            location: {
                                {%- if particle.service.endpoints|length > 0 -%}
                                    services: {{ _self.renderJSArray(particle.service.endpoints, 'id') }},
                                {%- endif -%}
                                {%- if particle.service.timeout is not empty -%}
                                    timeout: {{particle.service.timeout}}
                                {%- endif -%}
                            },
                        {%- endif -%}
                    {%- endif -%}

                    {%- if particle.service.law == 0 or particle.service.country_code is not empty -%}
                        law: {
                            {%- if particle.service.law == 0 -%}
                                regionalLaw: false,
                            {%- endif -%}

                            {%- if particle.service.country_code is not empty -%}
                                countryCode: "{{particle.service.country_code|e('js')}}"
                            {%- endif -%}
                        },
                    {%- endif -%}

                    content: {
                        message: "{{bannerMsg|e('js')}}",
                        link: "{{linkText|e('js')}}",
                        dismiss: "{{dismissText|e('js')}}",

                        {%- if optText is not empty -%}
                            {%- if particle.banner.compliance == 'opt-out' -%}
                                deny: "{{optText|e('js')}}",
                            {%- elseif particle.banner.compliance == 'opt-in' -%}
                                allow: "{{optText|e('js')}}",
                            {%- endif -%}
                        {%- endif -%}

                        {%- if particle.banner.learn_more.enabled -%}
                            href: "{{url(linkHref)|raw}}",
                        {%- endif -%}
                    },

                    {%- if compType is not empty -%}
                        type: "{{compType}}",
                    {%- endif -%}

                    {%- if particle.banner.on_scroll.dismiss is not empty -%}
                        dismissOnScroll: {{particle.banner.on_scroll.dismiss}},
                    {%- endif -%}

                    {%- if particle.banner.timeout.dismiss is not empty -%}
                        dismissOnTimeout: {{particle.banner.timeout.dismiss}},
                    {%- endif -%}

                    {%- if particle.blacklist_pages|length > 0 -%}
                        blacklistPage: {{ _self.renderJSArray(particle.blacklist_pages, 'path') }},
                    {%- endif -%}

                    {%- if particle.whitelist_pages|length > 0 -%}
                        whitelistPage: {{ _self.renderJSArray(particle.whitelist_pages, 'path') }},
                    {%- endif -%}

                    {%- set msgLink = '<span id="cookieconsent:desc" class="cc-message">' -%}
                    {%- set msgLink = msgLink ~ '{{message}}' -%}
                    {%- if particle.banner.learn_more.enabled -%}
                        {%- set relAttrb = (linkTarget == '_blank') ? relAttrb ~ 'noopener noreferrer ' : '' -%}
                        {%- set msgLink = msgLink ~ ' <a aria-label="' ~ linkTitle ~ '" title="' ~ linkTitle ~ '" role=button tabindex="0" rel="' ~ relAttrb ~ 'nofollow" class="cc-link" href="' -%}
                        {%- set msgLink = msgLink ~ url(linkHref)|raw ~ '"' -%}
                        {%- if linkTarget != 'none' -%}
                            {%- set msgLink = msgLink ~ ' target="' ~ linkTarget ~ '"' -%}
                        {%- endif -%}
                        {%- set msgLink = msgLink ~ '>{{link}}</a>' -%}
                    {%- endif -%}   
                    {%- set msgLink = msgLink ~ '</span>' -%}

                    elements: {
                        messagelink: "{{msgLink|e('js')}}"
                    }})});
        </script>
    {%- endscripts -%}
{%- endblock -%}

{%- macro renderJSArray(array, attr) -%}
    {%- set arrStr = "[" -%}
    {%- for item in array -%}
        {%- set pageItem = item[attr] -%}
        {%- if attr == 'path' and item['type'] == 'path' -%}
            {%- if pageItem|slice(0, 1)|lower != '/' -%}
                {%- set pageItem = '/' ~ pageItem -%}
            {%- endif -%}
            {%- if item['option'] == 1 -%}
                {%- set hPageItem = pageItem -%}
                {%- if hPageItem|slice((hPageItem|length-1), 1)|lower != '/' -%}
                    {%- set hPageItem = hPageItem ~ '/' -%}
                {%- elseif hPageItem|length == 1 -%}
                    {%- set hPageItem = '' -%}
                {%- else -%}
                    {%- set hPageItem = hPageItem|slice(0, (hPageItem|length-1)) -%}
                {%- endif -%}
                {%- set arrStr = arrStr ~ '"' ~ hPageItem|e('js') ~ '",' -%}
            {%- endif -%}
        {%- endif -%}
        {%- set arrStr = arrStr ~ '"' ~ pageItem|e('js') ~ '",' -%}
    {%- endfor -%}
    {%- set arrStr = arrStr|slice(0,arrStr|length-1) ~ "]" -%}
    {{- arrStr|raw -}}
{%- endmacro -%}